@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #1a1a1a;
  --primary: #b06372;
  --wine-red: #6b1e2e;
  --petroleum-blue: #1c2b36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-wine-red: var(--wine-red);
  --color-petroleum-blue: var(--petroleum-blue);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.architectural-bg {
  background-image: linear-gradient(rgba(28, 43, 54, 0.85), rgba(28, 43, 54, 0.85)), 
    url(https://lh3.googleusercontent.com/aida-public/AB6AXuAz3dHsJ8ZxA1cu8k4RmrMKiRfGUyIBXE7hzN6lwTrJJt9WFeP3DiiStvM6DRcVlzKTEJqhKwuiju9L3jrwaTz4Xp5cNpcyR8i-OoLCnqCmc9LEH5BG01x62QikmHnOWobITf3wKANXldv4xXjOOqTtEVdIzx5l6bg-IhkX-qh5UflMeQmBVqJwR9VlH7pWdsrlUnSbFwBvBR2Ut4QDPwT1n02Cj4gekVxYNTwSE1ZcO436RVf9arhh-f0ayi5a5NKdVdg4WpQ9QZCF);
  background-size: cover;
  background-position: center;
}
